*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.main-container{
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    gap: 50px;
  
}
.header-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.center-container {
    margin: 10px;
    padding: 10px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;   
    border-radius: 10px;
    text-align: center;
}
.head{
    display: flex;
    justify-content: center;
}

#gQuote {
    display: none;
    min-height: 3rem;
    text-align: center;
    font-size: 1rem;
    background-color: #c1c1c1;
    padding: 10px;
    border-radius: 10px;
}

i{
    font-size: 40px;
    cursor: pointer;
    position: absolute;
    left: 95%;
    transform: translate(-50%, -50%);
}
h1{
    text-align: center;
    font-size: 3em;
    margin-right: 20px;
}
#next{
    border-radius: 10px;
    position:absolute;
    left: 5%;
    margin: auto;
    padding: auto;
    display: flex;
    width: 100px;
    cursor: pointer;
    margin: 20px;
    background-color:rgb(23,124,229) ;
    color: #fff;
    justify-content: center;
}
#previous{
    position:absolute;
    left: 65%;
    border-radius: 25px;
    background-color: rgb(23,124,229);
    display: flex;
    width: 100px;
    cursor: pointer;
    margin: 20px;
    color: #fff;
    justify-content: center;
}
.quote-box{
    width: 90%;
    background: rgb(219, 218, 218);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.radio-btns{
    padding: 20px;
}
.quote-box .form-check{
    display: flex;
    justify-content: center;
    display: inline;
}
.form-check-input{
    cursor: pointer;
}

#slide-btns {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
}

button {
    padding: 0.5rem 1rem;
    background: gray;
    border: none;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
}

.quote-box .form-check label {
    min-width: 60px;
}

.dark-mode .quote-box {
    background: #2c3e50; 
    color: #fff;
}

.dark-mode body {
    background: #2c3e50; 
    color: #fff; 
}

#dark-toggle {
    background-color:black ;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px; 
    cursor: pointer;
    border: none; 
    border-radius: 5px;
    left: 90%;
    right: 10px; /* Adjusted right position */
    top: 10px; 
    z-index: 19999;
}


  
#dark-toggle:hover {
    background-color: #555; 
}
  

/* @media (max-width: 800px) {
    .quote-box {
        width: 500px;
    }
} */
@media (max-width: 750px) {
    .quote-box {
        width: 95%;
    }
    .header-section{
        flex-direction: column;
    }
    #slide-btns{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}
@media (max-width: 400px) {
    #dark-toggle {
        padding: 8px 15px; 
        font-size: 14px
    }
}
.quote-box {
    width: 80%; /* Adjusted width for medium-sized screens */
}


@media (max-width: 500px) {
.quote-box {
    width: 90%; /* Adjusted width for smaller screens */
}
}